matplotlib
numpy
pandas
python-dotenv
seaborn
streamlit
langchain
groq
langchain-groq
langchain_community # Used for Olama integration. Do I need this???
langchain_experimental
pandas 
pandasai
tabulate # Might not use